.App {
  min-height: 100vh;
  text-align: center;
  cursor: pointer;
}

.App::after {
  position: absolute;
  z-index: 1;
}
#responsive-navbar-nav .mr-auto .navbar-light {
  font-size: 40px;
  color: #0d6efd;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 30px;
}

.picture_park {
  flex-wrap: wrap;
  background: url("./images/park_logo.jpg") no-repeat center/cover;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 40px solid #696969;
  --bs-border-opacity: 0.7;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0-36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
  overflow: hidden;
  transition-duration: 3s;
  margin-bottom: 35px;
}
.picture_park:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  z-index: 0;
}
.button_menu {
  text-decoration: none;
  background-color: white;
  flex-wrap: wrap;
  width: 600px;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0-36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
  margin: 20px;
  border-radius: 40px;
  border: none;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  color: #003000;
  font-weight: 400;
  overflow: hidden;
}
.button_menu:hover {
  background-color: #9ADE61;
  color: #FFFFFF;
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

  }
}
@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: calc(100% - 100px);
    -moz-column-width: calc(100% - 100px);
    column-width: calc(100% - 100px);
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


