.main-footer {
    min-width: 100%;
    bottom: 0;
    color: #6cc464;
    position: relative;
    background-color: rgba(135, 135, 135, 0.2);
    font-family: 'Anonymous Pro', monospace;
}
.container-footer {
    padding-top: 50px;
    margin: auto 0;
  }
h3 {
    font-size: 20px;
}
p{
    font-size: 15px;
}

