.game-board-body {
    font-family:sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url("./images/zuraw.jpg") no-repeat center/cover;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}
.game {
    position: relative;
}
.game-board {
    margin: 30px auto;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 5px;
    gap: 10px;
    padding: 1rem;
}
.game-tile {
    cursor: pointer;
    background-color: #293752;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    border: 2px;
    transition: 0.4s background-color, 0.4s box-shadow;
    overflow: hidden;
    padding: 0;
    transition-duration: 1s;
}
.game-tile:hover {
    background-color: #0f1529;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}
.game-score {
    position: absolute;
    left: 50%;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: #9ADE61;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.game button.button,
.game input[type=button].button,
.game input[type=submit].button {
    display: block;
    max-width: 20em;
    text-align: center;
    padding: 1.3em 3em;
    font-weight: bold;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
    margin: 2em auto;
    background: tomato;
    border-radius: 3em;
    line-height: 1.1em;
    text-shadow: none;
    transition: 0.5s background-color, 0.5s box-shadow;
    box-shadow: 0 2px 5px rgba(255, 99, 71, 0.4);
    border:0;
    cursor: pointer;
}
.button-bg {
    flex-wrap: wrap;
    width: 600px;
    height: 80px;
    margin: 40px;
    border: none;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0-36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    border-radius: 40px;
    font-size: 30px;
    color: #003000;
    font-weight: 400;
}
.button-bg:hover {
    background-color: #9ADE61;
    color: #FFFFFF;
}
.text-game, p {
    text-align: center;
    font-size: 40px;
    font-family: 'Anonymous Pro', monospace;
    color: #9ADE61;
}
.game-timer {
    color: #9ADE61;
    font-size: 60px;
    margin-bottom: 35px;
}
/* Text - animation - game */
.line-1{
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0-36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
/* Text - animation - home */
.line-2{
    color: rgba(255,255,255,.75);
    font-size: 35px;
    font-family: 'Anonymous Pro', monospace;
    position: relative;
    width: 20em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0-36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
/* Animation - text*/
.anim-typewriter{
    animation: typewriter 5s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 30em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
@media (max-width: 991px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

    }
}
@media (max-width: 480px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: calc(100% - 100px);
        -moz-column-width: calc(100% - 100px);
        column-width: calc(100% - 100px);
    }
}
