.game-board-body {
    font-family:sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url("./images/zuraw.jpg") no-repeat center/cover;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}
