.App {
    background: url("./images/zuraw.jpg") no-repeat center/cover;
}
.kontakt {
    min-height: 100vh;
}
.btn-primary {
    width: 400px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0-36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    margin: 20px;
    border-radius: 40px;
    border: none;
    font-size: 30px;
    text-align: center;
    color: #003000;

}
.btn-primary:hover {
    background-color: #9ADE61;
    color: #FFFFFF;
}
#exampleFormControlInput1 {
    height: 100px;
    background-color: rgba(128,128,128,0.5);
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 10px;
}
label.form-label {
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    justify-content: left;
    font-family: 'Anonymous Pro', monospace;
}
.form-control {
    height: 400px;
    background-color: rgba(128,128,128,0.5);
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Anonymous Pro', monospace;
}
